.form {
  display: flex;
  flex-direction: column;
  place-items: center;

  background-color: #ffffff;
  width: 400px;
  margin: 150px auto 10px auto;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 10px -3px #333;
  text-align: center;
}

.form .form__img {
  display: flex;
  width: 80px;
  margin: 20px auto;
  box-shadow: 0 5px 10px -7px #333333;
  border-radius: 50%;
}

.form .form__button {
  border-radius: 100px;
  border: none;
  background: #719be6;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  margin-top: 10px;
  box-shadow: 0 2px 10px -3px #719be6;
  display: block;
  margin: 55px auto 10px auto;
}

.form .span__header {
  display: flex;
  color: gray;
  font-size: 24px;
}

footer {
  display: block;
  margin-top: 30px;
}

.form .span__footer {
  font-size: 10px;
}
